<p>
  <strong>Home:</strong>
  <%= @event.home %>
</p>

<p>
  <strong>Away:</strong>
  <%= @event.away %>
</p>

<p>
  <strong>Event Date:</strong>
  <%= @event.eventdate %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>
